<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Kindlly | create kindness, get points</title>

		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@100;400;700&family=Roboto:wght@100;400;700&&display=swap"
		/>
		<link rel="stylesheet" href="css/elusive-icons.min.css" />

		<link rel="stylesheet" href="css/styles.css" />
	</head>
	<body>
		<div id="app">
			<header>
				<div class="container">
					<div class="left">
						<a href="#"><h1>Kindlly</h1></a>
						<p>create kindness, get points</p>
					</div>

					<nav>
						<ul>
							<li class="nav-item"><a href="#">Contribute</a></li>
							<li class="nav-item"><a href="#">Contact</a></li>
							<li class="nav-item">
								<a href="#" id="profile-link">
									<img :src="user.avatar" alt="" />
									<p class="points">
										<span class="value">300</span><br />
										<span class="label">KP</span>
									</p>
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</header>

			<main>
				<div class="browse-kindllys">
					<h2>Browse Kindllys</h2>
					
					<div class="kindlly-groups">
						<div class="kindlly-group" v-for="section in discoverKindllys">
							<h3>{{section.sectionName}}</h3>
							<div class="kindlly-list">
								<div class="kindlly" v-for="kindlly in section.kindllys">
									<div class="header">
										<div class="info">
											<h4>{{kindlly.description}}</h4>
											<div>
												<p class="cost" v-if="kindlly.cost == 0"><span></span><span class="faded">FREE</span></p>
												<p class="cost" v-if="kindlly.cost == 1"><span>$</span><span class="faded">$$</span></p>
												<p class="cost" v-if="kindlly.cost == 2"><span>$$</span><span class="faded">$</span></p>
												<p class="cost" v-if="kindlly.cost == 3"><span>$$$</span></p>
											</div>
										</div>
	
										<p class="points">
											<span class="value">+{{kindlly.points}}</span><br />
											<span class="label">KP</span>
										</p>
									</div>
									<div class="creator-info">
										<img v-bind:src="'img/avatars/' + kindlly.creator.avatar" alt="" class="creator-img"/>
										<div class="creator-row">
											<p>Creator</p>
											<p class="creator-name">{{kindlly.creator.username}}</p>
										</div>
									</div>
									<section class="buttons">
										<a class="more-button button">···</a>
										<a @click.prevent="kindlly.isLiked = false" v-if="kindlly.isLiked" class="like-button button"><i class="el el-heart"></i></a>
										<a @click.prevent="kindlly.isLiked = true" v-else class="like-button button"><i class="el el-heart-empty"></i></a>
										<a @click.prevent="addKindlly(kindlly, section.kindllys)" class="add-button button"><i class="el el-plus-sign"></i></a>
									</section>
								</div>
							</div>
						</div>
					</div>
				</div>
					
				<div class="my-kindllys">
					<div class="fixed-container">
						<h2>My Kindllys</h2>

						<div class="kindlly" v-for="myKindlly in myKindllys" v-if="myKindlly.isCompleted == false">
							<div class="header">
								<div class="info">
									<h4>{{myKindlly.description}}</h4>
									<div class="cost">
										<p class="cost" v-if="myKindlly.cost == 0"><span></span><span class="faded">FREE</span></p>
										<p class="cost" v-if="myKindlly.cost == 1"><span>$</span><span class="faded">$$</span></p>
										<p class="cost" v-if="myKindlly.cost == 2"><span>$$</span><span class="faded">$</span></p>
										<p class="cost" v-if="myKindlly.cost == 3"><span>$$$</span></p>
										<p class="date">{{myKindlly.dateAdded}}</p>
									</div>
								</div>
								<p class="points">
									<span class="value">+{{myKindlly.points}}</span><br />
									<span class="label">KP</span>
								</p>
							</div>
							<section class="buttons">
								<a @click.prevent="myKindlly.isCompleted = true" class="complete-button button"> ◯ Complete</a>
								<a @click.prevent="removeKindlly(myKindlly)" class="button delete-button">
									<i class="el el-trash"></i>
								</a>
							</section>
						</div>
						
						<h3>Completed</h3>

						<div class="kindlly completed" v-for="myKindlly in myKindllys" v-if="myKindlly.isCompleted">
							<div class="header">
								<div class="info">
									<h4>{{myKindlly.description}}</h4>
									<div class="cost">
										<p class="cost" v-if="myKindlly.cost == 0"><span></span><span class="faded">FREE</span></p>
										<p class="cost" v-if="myKindlly.cost == 1"><span>$</span><span class="faded">$$</span></p>
										<p class="cost" v-if="myKindlly.cost == 2"><span>$$</span><span class="faded">$</span></p>
										<p class="cost" v-if="myKindlly.cost == 3"><span>$$$</span></p>
										<p class="date">{{myKindlly.dateAdded}}</p>
									</div>
								</div>
								<p class="points">
									<span class="value">+{{myKindlly.points}}</span><br />
									<span class="label">KP</span>
								</p>
							</div>
							<section class="buttons">
								<a @click.prevent="myKindlly.isCompleted = false" class="complete-button button">
									<i class="el el-ok-circle"></i> Completed</a>
							</section>
						</div>
					</div>
				</div>
			</main>

			<footer>
				<div class="container">
					<p>&copy; 2020 CIS 267</p>
					<p>made with ❤️ in TN</p>
				</div>
			</footer>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="js/main.js"></script>
	</body>
</html>
