<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Kindlly | create kindness, get points</title>

		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@100;400;700&family=Roboto:wght@100;400;700&&display=swap"
		/>
		<link rel="stylesheet" href="css/elusive-icons.min.css" />

		<link rel="stylesheet" href="css/styles.css" />
	</head>
	<body>
		<div id="app">
			<header>
				<div class="container">
					<div class="left">
						<a href="#"><h1>Kindlly</h1></a>
						<p>create kindness, get points</p>
					</div>

					<nav>
						<ul>
							<li class="nav-item"><a href="#">Contribute</a></li>
							<li class="nav-item"><a href="#">Contact</a></li>
							<li class="nav-item">
								<a href="#" id="profile-link">
									<img :src="user.avatar" alt="" />
									<p class="points">
										<span class="value">300</span><br />
										<span class="label">KP</span>
									</p>
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</header>

			<main>
				<div class="browse-kindllys">
					<h2>Browse Kindllys</h2>
					<div class="kindlly-groups">
						<div class="kindlly-group" v-for="DiscoverGroups in DiscoverKindllys">
							<h3>{{DiscoverGroups.sectionName}}</h3>
							<div class="kindlly-list">
								<div class="kindlly" v-for="kindlly in DiscoverGroups.kindllys">
									<div class="header">
										<div class="info">
											<h4>{{kindlly.description}}</h4>
											<div>
												<p class="cost">
													<span>{{CheckForCost(kindlly.cost)}}</span><span class="faded">{{CheckForEmptyCost(kindlly.cost)}}</span>
												</p>
											</div>
										</div>

										<p class="points">
											<span class="value">+{{kindlly.points}}</span><br />
											<span class="label">KP</span>
										</p>
									</div>

									<div class="creator-info">
										<img v-bind:src="'img/avatars/' + kindlly.creator.avatar" alt="" class="creator-img" />
										<div class="creator-row">
											<p>Creator</p>
											<p class="creator-name">{{kindlly.creator.username}}</p>
										</div>
									</div>

									<section class="buttons">
										<a href="" class="more-button button"  @click.prevent="">···</a>

										<a href="" class="like-button button">
											<i v-bind:class="CheckForLikedOrDisliked(kindlly.isLiked)" @click.prevent="kindlly.isLiked = EditLiked(kindlly.isLiked)"></i>
										</a>
										<a href="#" class="add-button button">
											<i class="el el-plus-sign Remove-Button" @mouseover="SetToRemove()" @click.prevent="addToMyKindllys(kindlly)"></i>
										</a>
									</section>
								</div>
							</div>
						</div>
					</div>		
				</div>

				<div class="my-kindllys">
					<div class="fixed-container">
						<h2>My Kindllys</h2>
						<div class="my-current-kindllys" id="my-completed-kindllys" v-for="kindlly in myInCompleteKindllys">
							<div class="kindlly">
								<div class="header">
									<div class="info">
										<h4>{{kindlly.description}}</h4>
										<div class="">
											<p class="cost">
												<span>{{CheckForCost(kindlly.cost)}}</span><span class="faded">{{CheckForEmptyCost(kindlly.cost)}}</span>
											</p>
											<p class="date">{{GetDate(kindlly.dateAdded)}}</p>
										</div>
									</div>
									<p class="points">
										<span class="value">+{{kindlly.points}}</span><br />
										<span class="label">KP</span>
									</p>
								</div>
								<section class="buttons">
									<a href="" class="complete-button button"class="" @click.prevent=""> ◯ Complete</a>
										
									<a href="" class="button delete-button Remove-Button" @mouseover="SetToRemove()" @click.prevent="">
										<i class="el el-trash"></i>
									</a>
								</section>
							</div>
						</div>

						<h3>Completed</h3>
						<div class="completed_my_kindllys" v-for="kindlly in myCompleteKindllys">
							<div class="kindlly completed">
								<div class="header">
									<div class="info">
										<h4>{{kindlly.description}}</h4>
										<div class="">
											<p class="cost">
												<span>{{CheckForCost(kindlly.cost)}}</span><span class="faded">{{CheckForEmptyCost(kindlly.cost)}}</span>
											</p>
											<p class="date">{{GetDate(kindlly.dateAdded)}}</p>
										</div>
									</div>

									<p class="points">
										<span class="value">+{{kindlly.points}}</span><br />
										<span class="label">KP</span>
									</p>
								</div>

								<section class="buttons">
									<a href="" class="complete-button button">
										<i class="el el-ok-circle"></i> Complete</a>
								</section>
							</div>
						</div>	
					</div>
				</div>
			</main>

			<footer>
				<div class="container">
					<p>&copy; 2020 CIS 267</p>
					<p>made with ❤️ in TN</p>
				</div>
			</footer>
		</div>
		<script
        	src="https://code.jquery.com/jquery-3.5.1.js"
        	integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        	crossorigin="anonymous">
    	</script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="js/main.js"></script>
	</body>
</html>
